/* * {
    border: 1px solid red;
} */

:root {
    --regular-size: 20px;
    --border-color: #C27404;
    --light-blue: #70A1C2;
    --dark-blue: #1A5175;
    --box-shadow: 10px 5px 5px rgb(69, 67, 67);
}

body {
    width: 95%;
    margin: 0 auto;
    background-color: var(--dark-blue);

}

header,
footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid var(--border-color);
    border-top: 5px solid var(--border-color);
    background-color: var(--light-blue);
    color: #1A5175;
    margin-top: 20px;
    align-items: center;
}

header nav ul,
main nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    width: fit-content;
    margin: 20px 10px;
}

.link {
    color: var(--dark-blue);
    font-size: var(--regular-size);
    padding: 10px;
}

.contact-link {
    font-size: var(--regular-size);
    padding: 10px;
    color: var(--light-blue);
}

footer {
    height: 161.25px;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    padding-left: 150px;
}

h2 {
    padding-left: 20px;
    color: var(--light-blue);
    font-size: 40px;
}

h3 {
    margin: auto;
    color: var(--dark-blue);
}

p {
    font-size: var(--regular-size);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5% 2% 0;
}

.header-image {
    max-width: auto;
    max-height: 150px;
}

.link,
.contact-link {
    text-decoration: none;
}

.contact-link {
    text-decoration: none;
    padding: 50px;
}

.link:hover,
.contact-link:hover {
    color: #C27404;
}

.image-title-main {
    position: relative;
    bottom: 17vh;
    left: 30vw;
    background-color: beige;
    color: var(--dark-blue);
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
}

.image-title {
    position: relative;
    bottom: 17vh;
    left: 5vw;
    background-color: beige;
    color: var(--dark-blue);
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
}

.other-projects {
    gap: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}

.project-image-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project-image {
    height: 200px;
    box-shadow: var(--box-shadow);
    border-radius: 10px
}

.project-image-main:hover,
.project-image:hover {
    opacity: .5;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 2% 0 2% 0;
}

@media screen and (max-width: 926px) {
    .other-projects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 200px)
    }
    header,
    footer {
        width: fit-content;
    }
}

@media screen and (max-width: 768px) {
    .other-projects {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px)
    }
    header,
    footer {
        width: fit-content;
    }
}