/* * {
    border: 1px solid red;
} */

header {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 5px solid #C27404;
    background-color: #70A1C2;
    color: #1A5175;
}

header nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    width: fit-content;
    margin: 20px 10px;
}

header nav ul li {
    padding: 10px;  
}

a {
    color: #1A5175;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #C27404;
}