* {
    border: 1px solid red;
}

:root {
    --regular-size: 20px;
}

body {
    width: 95%;
    margin: 0 auto;
    background-color: #1A5175;

}

header,
footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #C27404;
    border-top: 5px solid #C27404;
    background-color: #70A1C2;
    color: #1A5175;
    margin-top: 20px;
    align-items: center;
}

header nav ul,
footer nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    width: fit-content;
    margin: 20px 10px;
}

header nav ul li,
footer nav ul li {
    padding: 10px;
}

h1 {
    font-size: 50px;
}

h1,
h3 {
    padding-left: 20px;
}

h2,
h3 {
    font-size: 30px;
}

a {
    color: #1A5175;
    font-size: var(--regular-size);
}

p {
    font-size: var(--regular-size);
}

.header-image {
    max-width: auto;
    max-height: 150px;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #C27404;
}

.projects {
    gap: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-areas:
        "project1 project1"
        "project2 project3"
        "project4 project5"; */
}

.main-project {
    width: 90%;
    margin: 0 auto;
}

.project-image-main {
    height: 400px;
    padding: 5% 25%;
}

.project-image {
    height: 200px;
}

@media screen and (max-width: 926px) {
    .projects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 200px)
    }
}

@media screen and (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px)
    }
}

/* 
#project1 {
    grid-area: project1;
}

#project2 {
    grid-area: project2;
}

#project3 {
    grid-area: project3;
}

#project4 {
    grid-area: project4;
}

#project5 {
    grid-area: project5;
} */